<%- include ("partials/header") -%>
	<div class="productsHeaderWrap">
		<div class="productHeaderWrap" style="background-image:url(<%=bucket%>/images/Mobatec-Home-Banner.jpeg);">
			<div class="overlay"></div>
			<div class="content">
				<div class="title">Mobatec Modeller.</div>
				<div class="subTitle">The experts platform for process modelling and simulation.</div>
				<div class="buttonsWrap">
					<div class="button">
						<a href="#">More information</a>
					</div>
				</div>
			</div>
		</div>
		<div class="productHeaderWrap" style="background-image:url(<%=bucket%>/images/Operator-Training-Solutions-Operator-training-Simulator-Field-Operations.jpeg);">
			<div class="overlay"></div>
			<div class="content">
				<div class="title">Operator Training Simulator.</div>
				<div class="subTitle">The ultimate tool to improve safety and profitability of your process.</div>
				<div class="buttonsWrap">
					<div class="button">
						<a href="#">More information</a>
					</div>
				</div>
			</div>
		</div>
		<div class="productHeaderWrap" style="background-image:url(<%=bucket%>/images/Field-OTS.jpeg);">
			<div class="overlay"></div>
			<div class="content">
				<div class="title">MobaTAGnology.</div>
				<div class="subTitle">The experts platform for process modelling and simulation.</div>
				<div class="buttonsWrap">
					<div class="button">
						<a href="#">More information</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>