<%- include ("partials/header") -%>
	<div class="servicesHeader">
		<div class="overlay"></div>
		<div class="content">
			<div class="title">PROCESS MODELLING & SIMULATION</div>
			<div class="itemWrap">
				<div class="iconWrap">
					<img src="<%=bucket%>/icons/byYou.png">
				</div>
				<div class="itemTitle">Done <span>BY</span> you</div>
				<div class="textWrap">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</div>
			</div>
			<div class="itemWrap">
				<div class="iconWrap">
					<img src="<%=bucket%>/icons/withYou.png">
				</div>
				<div class="itemTitle">Done <span>WITH</span> you</div>
				<div class="textWrap">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</div>
			</div>
			<div class="itemWrap">
				<div class="iconWrap">
					<img src="<%=bucket%>/icons/forYou.png">
				</div>
				<div class="itemTitle">Done <span>FOR</span> you</div>
				<div class="textWrap">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</div>
			</div>
		</div>
	</div>
	<div class="whiteBackground paddedSection">
		<div class="shortContent">
			<div class="dualContent">
				<div class="textWrap">
					<div class="title">Why Mobatec?</div>
					<div class="deltoidSeparator"></div>
					<div class="subTitle">Quick Delivery</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</div>
					<div class="subTitle">Instant Support</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</div>
					<div class="subTitle">Anything you need</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</div>
				</div>
				<div class="imageWrap">
					<div class="imagePlaceholder"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="processModellingSection paddedSection">
		<div class="overlay"></div>
		<div class="shortContent content">
			<div class="title">With our solutions we are making <span>innovation possible</span> and we provide significant <span>profits</span> to process industry for over 20 years.</div>
			<div class="buttonsWrap">
				<div class="button">
					<a href="#">How we do it</a>
				</div>
				<div class="button">
					<a href="#">Book a strategy call</a>
				</div>
			</div>
		</div>
	</div>
	<div class="whiteBackground testimonialWrap paddedSection">
		<div class="shortContent">
			<div class="imageWrap">
				<img src="<%=bucket%>/images/jasper.jpeg">
			</div>
			<div class="textWrap">
				<img class="logo" src="<%=bucket%>/logos/huntsman.png">
				<div class="text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</div>
				<div class="deltoidSeparator"></div>
				<div class="signature">Jasper Rutten - Manager @ Huntsman Coorporation</div>
			</div>
		</div>
	</div>
	<div class="processModellingCoursesSection paddedSection">
		<div class="overlay"></div>
		<div class="shortContent content">
			<div class="title">Let our expert engineers <span>share</span> process modelling & simulation knowledge with you. All to <span>your success</span>.</div>
			<div class="buttonsWrap">
				<div class="button">
					<a href="#">Free Course</a>
				</div>
				<div class="button">
					<a href="#">Advanced Course</a>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>